

# functions by Glenn Davis
export( installRGB,        
        uninstallRGB,
        getRGB,
        summaryRGB,
        XYZfromRGB,
        RGBfromXYZ,
        SignalRGBfromLinearRGB,
        LinearRGBfromSignalRGB,
        plotPatchesRGB
        )
        
#export( DisplayFromLinear_sRGB,
#        LinearFromDisplay_sRGB,
#        DisplayFromLinear_ProPhotoRGB,
#        LinearFromDisplay_ProPhotoRGB
#        )

importFrom( stats, splinefun, optimize )
importFrom( grDevices, rgb )
importFrom( graphics, par, plot.new, plot.window, polygon, rect, text )